
:root {
    --backgroundcollor-primary: black;
    --minha-corVerde: #47c705;
    --minha-corBranca: #FFFFFF;

}

body {
    background-color: var(--backgroundcollor-primary);    
    color: var(--minha-corBranca);
    font-family: Arial, sans-serif;
}

#sobre {
 margin-top: 70px;
}

#navbar {
    margin-bottom: 20px;
  }
  
  #contato {
    margin-top: 20px; 
  }
  
  #hardskills {
    margin-top: 20px; 
  }
  
  #projetos {
    margin-top: 20px; 
  }
  
  #footer {
    margin-top: 20px;
  }
  