
:root {
    --backgroundcollor-primary: black;
    --minha-corVerde: #47c705;
    --minha-corBranca: #FFFFFF;

}

body {
    background-color: var(--backgroundcollor-primary);    
    color: rgb(221, 218, 218);
    font-family: 'Inter', sans-serif;
    padding: 0; 
}

#sobre {
}

#navbar {
  }
  
  #contato {
  }
  
  #hardskills {
  }
  
  #projetos {
  }
  
  #footer {
  }
  