#projetos {
  padding: 50px;
  text-align: center;
}

#projetos h1, #projetos h3 {
  margin-bottom: 20px;
  font-size: 30px;
}

#projetos div {
  margin-top: 20px;
}

#projetos div h3 {
  margin-bottom: 5px;
}

#projetos div p {
  margin-bottom: 10px;
}

.projeto-card {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
}
