#sobre {
  display: flex;
  align-items: center;
  margin-top: 30px;
  flex-direction: row;
}

#img-sobre {
  flex: 1;
  max-width: 40%;
  display: flex;
  justify-content: center;
}

#img-sobre img {
  width: 20rem;
  height: 20rem;
  border-radius: 90%;
  border: solid 1px var(--color-border);
}

.descricao-sobre {
  flex: 1;
  border-radius: 15px;
  padding: 35px;
  margin: 15px;
  background: linear-gradient(140deg, var(--color-gradient-start), var(--color-gradient-end));
}

.descricao-sobre h1 {
  margin-top: 0;
}

.descricao-sobre p {
  margin-top: 0;
  text-align: justify;
}

@media screen and (max-width: 768px) {
  #sobre {
    flex-direction: column;
  }

  #img-sobre {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .descricao-sobre {
    margin: 0;
  }
}
