.app-background {
    background-image: linear-gradient(
        to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./assets/image.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
  }
  
  @media screen and (max-width: 768px) {
    .app-background {
      background: linear-gradient(to right, var(--color-gradient-background-start), var(--color-gradient-background-end));
    }
  }
  